[Unit]
Description=Easy Remote Desktop Service
After=network.target display-manager.service

[Service]
Type=simple
# Thay đổi đường dẫn này trỏ tới thư mục cài đặt thực tế của ứng dụng
WorkingDirectory=/opt/p2p_remote
ExecStart=/usr/bin/python3 -u /opt/p2p_remote/linux_service_loop.py
Restart=always
RestartSec=3
TimeoutStopSec=10

SupplementaryGroups=input

[Install]
WantedBy=multi-user.target
